/* TODO: add any application specific styling here */
#mediaReadview img, #mediaReadview video {
    width: 100%;
}
footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}
.deleteMedium{
    color:black;
    padding:10px;
}
.video-wrapper {
    position: relative;
    width: 50px;
    height: 50px;
    max-height: 50px;
    float: left;
}
li video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0px;
    z-index: 0;
}
.video-play {
    position: absolute;
    background-repeat: no-repeat;
    background-color: transparent;
    font-size: 0pt;
    width: 26px;
    height: 26px;
    top: 16px;
    left: -3px;
    background-size: 60%;
    z-index: 1;
}
#dbStatus {
    font-size: 16pt;
    font-weight: normal;
    margin: 5px;
}
#mediaEditview form img {
    width: 50%;
    margin: 10px;
}
#mediaEditview video {
    width: -webkit-calc(100% - 8px);
    width: -moz-calc(25% - 1em);
    margin: 5px 0 5px 2px;
 }
.radiobuttons {
    display: inline-flex;
    width: 10px;
    margin: 10px 0 10px 0;
}
#imagecontainer {
    width: 200px;
    height: 200px;
    margin: 10px;
}
.mwf-scrollview>div {
    margin: 5px;
}

