<!DOCTYPE html>
<html  manifest="app.manifest" lang="en">

<!-- -->
<head>
    <meta charset="UTF-8">
    <title>BMIO_IAFMG_GruppeKrePa_Pruefungsabgabe</title>

    <!-- this tag avoids scaling the view on display -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- load the styles -->
    <link rel="stylesheet" href="lib/css/normalize.css"/>
    <link rel="stylesheet" href="lib/css/mwf.css"/>
    <link rel="stylesheet" href="lib/css/mwfIcons.css"/>
    <!-- the application specific style -->
    <link rel="stylesheet" href="css/mystyle.css"/>
    <!-- TODO: comment-in if mapviews shall be used. It seems that libs and css need to be accessed online rather than be provided locally, there is also some issue when using leaflet+offline manifest... -->

    <!-- ractive templating engine -->
    <script src="lib/js/external/ractive.min.js"></script>
    <!-- user require.js for local script loading -->
    <script data-main="js/Main.js" src="lib/js/external/require.js"></script>
</head>
<!-- TODO: change the application name if it is adapted -->
<body data-mwf-application="MyApplication">


<!-- TODO-REPEATED: add new views here media Editview -->

<!-- main div for Editview -->
<div class="mwf-view" id="mediaEditview" data-mwf-viewcontroller="EditviewViewController">
    <div class="mwf-template mwf-databind" data-mwf-templatename="mediaEditviewTemplate">

        <header>
            <!-- reset IndexedDB Object (no longer needed) -->
            <button class="mwf-img-sandwich-action mwf-imgbutton mwf-img-sandwich mwf-left-align"></button>

            <!-- "Neues Medium" in header, otherwise the name of the MediaItem -->
            <h2 class="mwf-dyncontent mwf-left-align">{{#if item.created}}{{item.name}}{{else}}Neues Medium{{/if}}</h2>

            <!-- an element for creating/modifying MediaItems as submit type -->
            <input type="submit" form ="newMediaItem" class="mwf-imgbutton mwf-img-disk mwf-right-align" value="Speichern" data-mwf-targetview="mediaOverview">

            <!-- another element for deleting MediaItems -->
            <!-- if there's no MediaItem, deleting is disabled -->
            <button class="mwf-imgbutton mwf-img-delete mwf-right-align" on-click ="deleteItem" disabled="{{#unless item.created}}disabled{{/unless}}"></button>

        </header>

        <div class="mwf-body">
            <!-- src, name and description of MediaItem -->
            <form id="newMediaItem" on-submit="submitMediaForm">
                <fieldset>
                    <legend>
                        Bild auswählen
                    </legend>

                    <!-- Radio buttons to choose URL or Upload -->
                    <input class="radiobuttons" id = "url" type="radio" name="{{item.srctype}}" value="url">
                    <label for="url">URL</label>

                    <input class="radiobuttons" id = "upload" type="radio" name="{{item.srctype}}" value="upload">
                    <label id="uploadLabel" for="upload">UPLOAD</label>

                    <!-- For the upload option the file is required -->
                    <input on-change="uploadInputCompleted" id="uploadFile" name="srccontent" type="file" size="50" accept="video/*, image/*"
                           hidden="{{item.srctype != 'upload'}}" required="{{item.srctype == 'upload'}}"/>

                    <!-- only wellformed URLs allowed, field is hidden for upload option -->
                    <input on-blur="urlInputCompleted" id="inputURL" value="{{item.src}}"  autocomplete="off" type="url" name="src"
                           required="{{item.srctype != 'upload'}}" placeholder="..." hidden="{{item.srctype == 'upload'}}"/>

                </fieldset>
                <!-- Media Elements to show image/video, depending on mediaType -->
                {{#if item.mediaType == 'video'}}
                <video src="{{#if item.created}}{{item.src}}{{/if}}" controls="controls"></video>
                {{else}}
                <img src="{{#if item.created}}{{item.src}}{{/if}}"/>
                {{/if}}
                <!-- Title is required -->
                <fieldset>
                    <legend>
                        Titel
                    </legend>
                    <h2>{{item.name}}</h2>
                    <input autocomplete="off"  value="{{item.name}}" class="mwf-autofocus mwf-dynvalue" id="itemDialog-title" type="text" placeholder="..." required="required"/>
                </fieldset>

                <!-- Description is optional -->
                <fieldset>
                    <legend>
                        Beschreibung
                    </legend>
                    <textarea  rows="5" value="{{item.content}}" autocomplete="off" class="mwf-autofocus mwf-dynvalue" type="text" placeholder="...">
                        {{item.content}}
                    </textarea>
                </fieldset>
            </form>
        </div>
        <footer>
            <!-- element to return into subview -->
            <div class="mwf-back mwf-imgbutton mwf-img-backward"></div>
        </footer>
    </div>
</div>

<!-- TODO-REPEATED: add new views here media Readview -->
<!-- main-div for readview -->
<div class="mwf-view" id="mediaReadview" data-mwf-viewcontroller="ReadviewViewController">
    <div class="mwf-template mwf-databind" data-mwf-templatename="mediaReadviewTemplate">
        <header>
            <!-- reset database -->
            <button class="mwf-imgbutton mwf-img-sandwich mwf-left-align"></button>
            <!-- the heading to display the item name -->
            <h2 class="mwf-dyncontent mwf-left-align">{{item.name}}</h2>

            <!-- show the editview dialog -->
            <div class="mwf-imgbutton mwf-img-pencil mwf-right-align " on-click="editMediaItem"></div>
            <!-- delete MediaItem -->
            <div class="mwf-imgbutton mwf-img-delete mwf-right-align" on-click="deleteMedia"></div>
        </header>
        <main class="mwf-scrollview">
            <!-- video/image elements -->
            {{#if item.mediaType == 'video'}}
            <video src="{{#if item.created}}{{item.src}}{{/if}}" controls="controls"></video>
            {{else}}
            <img src="{{#if item.created}}{{item.src}}{{/if}}"/>
            {{/if}}
            <!-- the description below the image -->
            <div >{{item.content}}</div>
        </main>
        <footer>
            <div class="mwf-back mwf-imgbutton mwf-img-backward"></div>
        </footer>
    </div>
</div>

<!-- TODO-REPEATED: add new views here media Listview -->
<!-- main div for listview -->
<div class="mwf-view  mwf-view-initial" id="mediaOverview" data-mwf-viewcontroller="ListviewViewController">
    <header>
        <!-- reset Database -->
        <div class="mwf-imgbutton mwf-img-sandwich mwf-left-align" id="resetDatabase"></div>
        <h2 class="mwf-left-align">Medien</h2>

        <!-- show editview by pressing + icon -->
        <div class="mwf-imgbutton mwf-img-plus mwf-right-align" id="addNewMediaItem"></div>
    </header>
    <main class="mwf-scrollview">
        <ul class="mwf-listview" data-mwf-listitem-view="myapp-listitem" data-mwf-listitem-menu="mediaItemMenu" >
            <li class="mwf-listitem mwf-li-title-subtitle mwf-template mwf-databind" data-mwf-templatename="myapp-listitem" data-mwf-targetview="mediaReadview">

                <!-- image/video elements for listview, depending on mediaType -->
                {{#if mediaType == 'video'}}
                <div class="video-wrapper">
                    <video class="mwf-left-align" src="{{src}}"></video>
                    <div class="video-play mwf-img-play-button mwf-left-align"></div>
                </div>
                {{else}}
                <img class="mwf-left-align" src="{{src}}"/>
                {{/if}}
                <div class="mwf-li-titleblock">
                    <h2>{{name}}{{_id}}</h2>
                    <h3>{{addedDateString}}</h3>
                </div>
                <!-- action menu from ESA2 -->
                <div class="mwf-imgbutton mwf-img-options-vertical mwf-right-align mwf-listitem-menu-control">
                </div>
            </li>
        </ul>
        <div class="mwf-toast"></div>
    </main>
    <footer>
        <!-- active CRUD-Operations -->
        <div class="mwf-left-align" id="dbStatus">local</div>

        <!-- Toggle the CRUD-Operations via refresh-Icon -->
        <div class="mwf-img-refresh mwf-imgbutton mwf-right-align" id="toggleServer"></div>
    </footer>
</div>

<!-- TODO-REPEATED: add new views here dialog popup create and edit for plus button -->
<!-- dialog for editing and adding items -->
<div class="mwf-dialog mwf-popup mwf-template mwf-databind mwf-view-component "
     data-mwf-viewcontroller="GenericDialogTemplateViewController" data-mwf-templatename="mediaItemDialog">
    <div class="mwf-dialog-body">
        <h2>{{#if item.created}}Medium editieren{{else}}Neues Medium{{/if}}</h2>
        <form id="itemEditForm" on-submit="submitForm">
            <input name="name" autocomplete="off" class="mwf-autofocus" type="text" placeholder="Name"
                   required="required" value="{{item.name}}"/>
            <div class="mwf-buttonbar">
                <button class="mwf-left-align mwf-button" disabled="{{#unless item.created}}disabled{{/unless}}"
                        type="button" on-click="deleteItem">Löschen</button>
                <input id="createTagAction" class="mwf-button-prio mwf-right-align mwf-button" type="submit"
                       value="{{#if item.created}}Ändern{{else}}Hinzufügen{{/if}}"/>
            </div>
        </form>
    </div>
</div>

<!-- TODO-REPEATED: add new views here dialog popup delete and edit for options button -->
<!-- Dialog for deleting or editing items -->
<div data-mwf-templatename="mediaItemMenu" class="mwf-listitem-menu mwf-template mwf-databind mwf-dialog mwf-popup ">
    <header>
        <h2 class="mwf-dyncontent">{{name}}{{_id}}</h2>
    </header>
    <!--two buttons for deleting / editing -->
    <div class="mwf-dialog-body">
        <ul>
            <li class="mwf-li-singletitle mwf-menu-item" data-mwf-targetaction="confirmDeleteItem">Löschen</li>
            <li class="mwf-li-singletitle mwf-menu-item" data-mwf-targetaction="editItem">Editieren</li>
        </ul>
    </div>
</div>

<!-- TODO-REPEATED: add new views here dialog popup delete cancel for options button -->
<!--Popup-Dialog for deleting Items-->
<div class="mwf-dialog mwf-popup mwf-template mwf-databind mwf-view-component"
     data-mwf-viewcontroller="GenericDialogTemplateViewController" data-mwf-templatename="deleteItemDialog">
    <div class="mwf-dialog-body">
        <h2>Medium löschen</h2>
        <form id="cancelEditForm" >
            <h5 class = "deleteMedium">Möchten Sie das Medium {{item.name}} löschen? </h5>
            <div class="mwf-buttonbar">
                <button class="mwf-left-align mwf-button" type="button" on-click ="cancelForm">Abbrechen</button>
                <button class="mwf-left-align mwf-button mwf-button-prio" type="button" on-click="deleteItem">Löschen</button>
            </div>
        </form>
    </div>
</div>
<footer></footer>
</body>
</html>